# 01. Merging datasets (orders_checked & order_products_prior)

## List of Content
##### 01 - Merging datasets (orders_checked & order_products_prior)
- Export merged data in pickle format

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# First import orders_checked dataset csv files as df_ords_1

df_ords_1 = pd.read_csv(r'C:\Users\IDONG\Prepared data\orders_checked2.csv', index_col = False)

In [3]:
# To have a review

df_ords_1.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [4]:
# To remove the 'unnamed:0' column, we substitute the argument 'index_col=False' for 'index_col=0'

df_ords_1 = pd.read_csv(r'C:\Users\IDONG\Prepared data\orders_checked2.csv', index_col = 0)

In [5]:
# Upon rechecking

df_ords_1.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [6]:
# Next import order_products_prior as df_ords_prior

df_ords_prior = pd.read_csv(r'C:\Users\IDONG\Original data\order_products__prior.csv', index_col = False)

In [7]:
# To have a review of the imported dataset

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
# Checking the shape of both datasets

df_ords_1.shape

(3421083, 6)

In [9]:
df_ords_prior.shape

(32434489, 4)

In [10]:
# The two datasets have a common denominator 'order_id'. Thus, the 'on' argument can be used to combine the sets
# The merged sets will be represented as df_merged_large

df_merged_large = df_ords_1.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
# To review what the merger looks like

df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
# To confirm the merge flag frequency 

df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
# It would be wrong to assume that the merge (using the 'product_id' key column) was complete in both data frames, despite the 
# output of the last command. Using the 'how=outer' is sure to confirm that the merge was not a full match

## Export merged data in pickle format

In [14]:
# First define path

path = r'C:\Users\IDONG'

In [15]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))